* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
  margin-left: 40%;
  margin-top: 5%;
}



.country-list {
  margin-left: 40%;
}

.list {
  display: flex;
  align-items: center;
}

.title {
  display: flex;
  align-items: center;
}

.country-info {
  margin-left: 40%;
}

.country {
  padding-left: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 20px;

}

.prop-title {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;

}

.prop-value {

  font-family: 'Roboto', sans-serif;
  font-weight: 900;

}

.info-img {
  width: 80px;
  height: 100%;
}